@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto&display=swap');

body {
    margin: 0px;
    font-family: Roboto;
    text-align: center;
    font-size: 30px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Chelsea Market', cursive;
    font-size: 70px;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.hellblau {
    background-color: #348fd4;
    color: #06406c;
    padding:80px 0px;
}

a {
    font-size: 40px;
    display: inline-block;
    width: auto;
    color: white;
    background-color: #06406c;
    text-decoration: none;
    padding: 10px 15px;
    margin: 20px 0px;
    border-radius: 0.3em;
}

a:hover {
    text-decoration: underline;
}

.weiß {
    background-color: white;
    padding:80px 0px;
}

.p-schwarz {
    background-color: black;
    color: white;
    border-radius: 0.3em;
    padding: 5px 15px;
}

.rot-hell {
    background-color: #cc4037;
    color: #4c0d09;
    padding:80px 0px;
}

.rot-hell p {
    width: 960px;
    margin: 30px 240px;
}