@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto&display=swap');
body {
    margin: 0px;
    font-family: Roboto;
    text-align: center;
    font-size: 30px;
}

a {
    margin: 0px;
    font-family: Roboto;
    text-align: center;
    font-size: 30px;
}

p {
    margin: 0px;
    line-height: 35px;
}

h1, h2, h3, h4, h5, h6 {

    font-family: 'Chelsea Market', cursive;
    font-size: 70px;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.hellblau h2 {
    color: #06406c;
}

.hellblau {
    background-color: #348fd4;
    color: #06406c;
    padding: 80px 0px;
}

.hellblau a {
    color: white;
    background-color: #06406c;
    text-decoration-line: none;
    line-height: 80px;
    border-radius: 0.3em;
    padding: 5px 15px;
}
    
.dunkelblau {
    background-color: #06406c;
    text-decoration-line: none;
    color: white;
}

.dunkelblau h2 {
    color: white;
    padding-top: 50px;
}

a {
    font-size: 40px;
}

header {
    height: 100vh;
}

header nav {
    text-align: right;
    margin: 15px 25px;
    margin-bottom: 100px
}

header a {
    font-size: 20px;
    color: black;
    text-decoration-line: none;
    padding: 0px 25px;
    text-align: right;
}

header h1 {
    margin-bottom: 50px;
}

header p {
    margin-bottom: 250px;
}

header img {
    width: 100px;
    height: auto;
    margin-bottom: 150px;
}


/* Ab hier DUNKELBLAU*/

.dunkelblau {
    background-color: #06406c;
    color: white;
}


.dunkelblau p {
    padding-bottom: 100px;
    line-height: 50px;
}

.orange-hell {
    background-color: #ffc19f;
    padding: 50px 200px;
    line-height: 50px;
}

.orange-hell h2 {
    color: #cc4037;
    margin: 0px;
    padding-bottom: 50px;
    display: inline-block;
    width: auto;
    color: #cc4037;
   
    text-decoration: none;
    padding: 10px 15px;
    margin: 20px 0px;
    border-radius: 0.3em;
}

a:hover {
    text-decoration: underline;
}

.weiß {
    background-color: white;
    padding: 80px 0px;
}

.weiß h2 {
    color: black;
}


.p-schwarz {
    background-color: black;
    color: white;
    border-radius: 0.3em;
    padding: 5px 15px;
    display: inline-block;

}

.rot-hell {
    background-color: #cc4037;
    color: #4c0d09;
    padding-bottom: 50px;

   
}

.rot-hell p {
     display: inline-block;
}

.rot-hell h2 {
    color: #4c0d09;
    padding-top: 50px;
}


/*--Ab hier Dunkelrot*/

.rot {
    background-color: #4c0d09;
}

h2 {
    color: #d3b2af;
}

.rot p {
    width: 960px;
    color: #d3b2af;
    margin: 40px auto;
    line-height: 200%;
    font-family: Roboto;
}

.rot .white {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 5px 15px;
}