@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto&display=swap');

body {
    margin: 0px;
    font-family: Roboto;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Chelsea Market', cursive;
}